<!-- authenticate/templates/authenticate/login.html -->

{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Logowanie</h5>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
